<header class="headerbg">
  <nav class="navbar navbar-expand navbar-light bg-transparent">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown bg-white">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span
                class="flag"
                style="background-image: url('assets/img/uk.jpg')"
              ></span
              >English
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item p-2" href="#"
                ><span
                  class="flag"
                  style="background-image: url('assets/img/uk.jpg')"
                ></span
                >English</a
              >
              <a class="dropdown-item p-2" href="#"
                ><span
                  class="flag"
                  style="background-image: url('assets/img/german.jpg')"
                ></span
                >German</a
              >
            </div>
          </li>
          <button (click)="ChangeTheme()" class="theme_switch btn">
            <img
              src="assets/img/dark_theme.webp"
              height="20"
              class="light_theme_display"
            /><img
              src="assets/img/light_theme.webp"
              height="20"
              class="dark_theme_display"
            />
          </button>
        </ul>
      </div>
    </div>
  </nav>
  <h2 class="text-center mb-4 logo_txt">
    <span class="txt_primary">COIN</span> DATA
  </h2>
  <div class="container">
    <div class="search position-relative">
      <epic-explorer-search></epic-explorer-search>
    </div>
  </div>
</header>
