<header class="headerbg">
  <nav class="navbar navbar-expand navbar-light bg-transparent">
    <div class="container-fluid">
      <div class="collapse navbar-collapse home_mble_hdr" id="navbarSupportedContent">
          <div class="home_tst_net">
              <span>You are viewing </span> 
              <ul class="list-unstyled d-inline-block mb-0">
                  <li class="nav-item dropdown">
                      <a
                        class="nav-link dropdown-toggle bg-white"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                      Testnet
                      </a>
                      <div class="dropdown-menu net_dropdwn" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item p-2 disabled" style="background-color: #00000024;" target = '_blank' href="#">Mainnet</a
                        >
                       
                      </div>
                    </li>
              </ul>
               <span> Network </span>
            </div>
        <ul class="navbar-nav ml-auto">
		  <!-- <li *ngIf="TimeArr" class="d-none d-sm-inline-block"><h1 class="test_msg d-inline-block mb-0 align-middle mr-3">{{'home.HEADER_TEXT' | translate}}</h1>
            <h1 class="test_msg align-middle mr-3 d-inline-block mb-0">{{'home.COUNTDOWN' | translate}}</h1>
                <ul class="list-unstyled d-inline-block bg-white p-2 mb-0 timer">
                    <li class="d-inline-block"><span id="days">{{TimeArr.d}}d:</span></li>
                    <li class="d-inline-block"><span id="hours">{{TimeArr.h}}h:</span></li>
                    <li class="d-inline-block"><span id="minutes">{{TimeArr.m}}m:</span></li>
                    <li class="d-inline-block"><span id="seconds">{{TimeArr.s}}s</span></li>
                  </ul>

          </li> -->
          
          <li class="nav-item px-2 dropdown bg-white">
            
            <span class="flag " [ngStyle]="{ 'background-image': 'url(assets/img/' + translate.getCurrentLang() + '.jpg)'}"></span> 
            <!--<span class="flag"  ngIf="translate.getCurrentLang() =='de'" style="background-image: url('assets/img/german.jpg')"></span>-->
            <select class="langbut py-2 mx-1" #langSelect (change)="translate.changeLang(langSelect.value)">
              <option *ngFor="let lang of translate.getLanguage()" [value]="lang" [selected]="lang == translate.getCurrentLang()">{{translate.langLabel[lang]}}</option>
            </select>
            <i class="arrow_drpdwn"></i>
          </li>
          <button (click)="ChangeTheme()" class="theme_switch btn">
            <img
              src="assets/img/dark_theme.webp"
              height="20"
              class="light_theme_display"
            /><img
              src="assets/img/light_theme.webp"
              height="20"
              class="dark_theme_display"
            />
          </button>
        </ul>
      </div>
    </div>
  </nav>
 <div *ngIf="TimeArr" class="d-sm-none text-center">
      <!-- <h1 class="test_msg d-inline-block mb-0 align-middle mr-3">{{'home.HEADER_TEXT' | translate}}</h1> -->
      <!-- <h1 class="test_msg align-middle mr-3 d-inline-block mb-0">{{'home.COUNTDOWN' | translate}}
          <ul class="list-unstyled d-inline-block bg-white p-2 mb-0">
            <li class="d-inline-block"><span id="days">{{TimeArr.d}}d:</span></li>
            <li class="d-inline-block"><span id="hours">{{TimeArr.h}}h:</span></li>
            <li class="d-inline-block"><span id="minutes">{{TimeArr.m}}m:</span></li>
            <li class="d-inline-block"><span id="seconds">{{TimeArr.s}}s</span></li>
            </ul>
      </h1> -->
  </div>
  <h2 class="text-center my-3 logo_txt">
    <span class="txt_primary">Epic</span> Explorer
  </h2>
  <div class="container">
    <div class="search position-relative">
      <epic-explorer-search></epic-explorer-search>
    </div>
  </div>
</header>
