.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex; /* Use flexbox to center the map within its container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.map-frame {
  border: 2px solid black;
  height: 70%; /* Adjust the height of the map frame */
  width: 70%; /* Adjust the width of the map frame */
}

#map {
  height: 100%;
}
