<div class="view_content py-4">
      <div  class="container">
<h3>{{'api-view.query-api' | translate}}</h3>

<p>
   {{'api-view.query-api-line1' | translate}} <code>q</code> parameter.<br>
   {{'api-view.query-api-line2' | translate}} "<i>https://explorer.epic.tech/api?q=totalcoins</i>".
 </p>
 <h4>{{'api-view.real-time-simple-query' | translate}}</h4>
<ul>
    <li><b>circulating</b>: {{'api-view.circulating' | translate}} </li>
    <li><b>getblockcount</b>: {{'api-view.getblockcount' | translate}}</li>
    <li><b>getdifficulty-randomx</b>: {{'api-view.getdifficulty-randomx' | translate}}</li>
    <li><b>getdifficulty-progpow</b>: {{'api-view.getdifficulty-progpow' | translate}}</li>
    <li><b>getdifficulty-cuckoo</b>: {{'api-view.getdifficulty-cuckoo' | translate}}</li>
    <li><b>totalcoins</b>: {{'api-view.totalcoins' | translate}}</li>
 </ul>

 <h4>{{'api-view.Block-Queries' | translate}}</h4>
 <p>
   {{'api-view.block-query-text' | translate}}
 </p>
 <ul>
    <li><b>getblockhash</b>: takes a <code>height</code> {{'api-view.getblockhash' | translate}}</li>
    <li><b>getblockheight</b>: takes a <code>hash</code> {{'api-view.getblockheight' | translate}}</li>
    <li><b>getblocktime</b>: takes a <code>height</code> {{'api-view.getblocktime' | translate}}</li>
 </ul>
 </div>
 </div>
