<!-- <div class="row">
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">74,913</p>
      <p class="mb-0 desc">Blockchain Height</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 <span class="">seconds ago</span></p>
      <p class="mb-0 desc">Latest Block</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 / 43</p>
      <p class="mb-0 desc">Latest Block Difficulty</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">374,3913 <span class="">Epic</span></p>
      <p class="mb-0 desc">Coin in Existence</p>
    </div>
  </div>
</div> -->
<div class="row" *ngIf="latestblockdetail">
  <div class="col-md-4 col-xl-2">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.BLOCKCHAIN_HEIGHT" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.block_height | number }}
        <span class="">Blocks</span>
      </p>
    </div>
  </div>
  <div class="col-md-4 col-xl-2">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.LATEST_BLOCK_AGE" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.letest_block_num  | number }} <span class="">{{ latestblockdetail.letest_block_duration }}</span>
      </p>
     
    </div>
  </div>
  <!-- <div class="col-md-3">
    <div class="text-center detail_div" #minhgt>
      <p class="mb-2 desc">{{ "home.CURRENT_TARGET_DIFF" | translate }}</p>
      <div
        class=" text-center d-inline-block"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >

        <p class="difficulty_datas">Cuckaroo : {{latestblockdetail.targetdifficultycuckaroo | number}} / {{latestblockdetail.TotalDifficultyCuckatoo | number}}</p>
        <div class="difficulty_datas">
          <span class="day60_txt">Cuckoo : </span>
            <span>Target:</span>
            <span>{{ latestblockdetail.targetdifficultycuckatoo | number }}</span>
            <span>Total :</span><span>{{ latestblockdetail.TotalDifficultyCuckatoo | number }}</span>

        </div>
        <div class="difficulty_datas">
            <span class="day60_txt">ProgPow : </span>
              <span>Target:</span>
              <span class="diff_span" style="width:85px;" title="{{ latestblockdetail.targetdifficultyprogpow | number }}">{{ latestblockdetail.targetdifficultyprogpow | number }}</span>
              <span>Total:</span><span class="diff_span" title="{{ latestblockdetail.TotalDifficultyProgpow | number }}">{{ latestblockdetail.TotalDifficultyProgpow | number }}</span>
          </div>
          <div class="difficulty_datas">
             <span class="day60_txt"> RandomX : </span>
                <span>Target:</span>
                <span>{{ latestblockdetail.targetdifficultyrandomx | number }}</span>
                <span>Total:</span><span>{{ latestblockdetail.TotalDifficultyRandomx | number }}</span>
            </div>
        <p class="difficulty_datas">
          ProgPow : {{ latestblockdetail.targetdifficultyprogpow | number }} /
          {{ latestblockdetail.TotalDifficultyProgpow | number }}
        </p>
        <p class="difficulty_datas">
          RandomX : {{ latestblockdetail.targetdifficultyrandomx | number }} /
          {{ latestblockdetail.TotalDifficultyRandomx | number }}
        </p>
      </div>
    </div>
  </div> -->
  <div class="col-md-4  col-xl-2">
      <div
        class="text-center detail_div"
      >
        <p class="mb-0 desc">{{ "home.CIRCULATING_SUPPLY" | translate }}</p>
        <p
          class="count mb-0"
          [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
        >
          {{ latestblockdetail.coin_existence | number }}
          <span class="">Epic</span>
        </p>
      </div>
    </div>

  <div class="col-md-6 mt-md-3 mt-xl-0 col-xl-3">
    <div class="text-center detail_div" #minhgt>
      <p class="mb-2 desc">{{ "home.CURRENT_TARGET_DIFF" | translate }}</p>
      <div
        class=" text-left mx-auto d-inline-block"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        <div class="difficulty_datas">
          <span class="day60_txt">Cuckoo &nbsp;&nbsp;&nbsp;&nbsp;: </span>
            <span> {{ latestblockdetail.targetdifficultycuckatoo | number }}</span>
        </div>
        <div class="difficulty_datas">
            <span class="day60_txt">ProgPoW &nbsp;&nbsp;: </span>
              <span class="diff_span" style="width:110px;" title="{{ latestblockdetail.targetdifficultyprogpow | number }}"> {{ latestblockdetail.targetdifficultyprogpow | number }}</span>
          </div>
          <div class="difficulty_datas">
             <span class="day60_txt"> RandomX &nbsp;: </span>
                <span > {{ latestblockdetail.targetdifficultyrandomx | number }}</span>
            </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="col-md-3">
    <div class="text-center detail_div" #minhgt>
      <p class="mb-2 desc">{{ "home.CURRENT_TOTAL_DIFF" | translate }}</p>
      <div
        class=" text-left mx-auto d-inline-block"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        <div class="difficulty_datas">
          <span class="day60_txt">Cuckoo &nbsp;&nbsp;&nbsp;&nbsp;: </span>
            <span> {{ latestblockdetail.TotalDifficultyCuckatoo | number }}</span>
        </div>
        <div class="difficulty_datas">
            <span class="day60_txt">ProgPow &nbsp;&nbsp;: </span>
              <span class="diff_span" style="width:110px;" title="{{ latestblockdetail.TotalDifficultyProgpow | number }}"> {{ latestblockdetail.TotalDifficultyProgpow | number }}</span>
          </div>
          <div class="difficulty_datas">
             <span class="day60_txt"> RandomX &nbsp;: </span>
                <span > {{ latestblockdetail.TotalDifficultyRandomx | number }}</span>
            </div>
      </div>
    </div>
  </div> -->



  <div class="col-md-6 mt-md-3 mt-xl-0 col-xl-3">
    <div
      class="text-center detail_div"
    >
      <p class="mb-2 desc">{{ "home.HASHRATE" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
    </p>
    <div class="text-left mx-auto d-inline-block">
      <div class="difficulty_datas">
        <span class="day60_txt">Cuckoo &nbsp;&nbsp;&nbsp;: </span>
          <span>         {{ latestblockdetail.cuckoohashrate | number  }} Gps         </span>
      </div>

      <div class="difficulty_datas">
        <span class="day60_txt">ProgPoW &nbsp;: </span>
          <span> {{ latestblockdetail.progpowhashrate | number  }} Hps</span>
      </div>

      <div class="difficulty_datas">
        <span class="day60_txt">RandomX : </span>
          <span> 
            {{ latestblockdetail.randomxhashrate | number }} Hps
          </span>
      </div>
      </div>


     
    </div>
  </div>


</div>
