<!-- <div class="row">
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">74,913</p>
      <p class="mb-0 desc">Blockchain Height</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 <span class="">seconds ago</span></p>
      <p class="mb-0 desc">Latest Block</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 / 43</p>
      <p class="mb-0 desc">Latest Block Difficulty</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">374,3913 <span class="">Epic</span></p>
      <p class="mb-0 desc">Coin in Existence</p>
    </div>
  </div>
</div> -->
<div class="row" *ngIf="latestblockdetail">
  <div class="col-md-3">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.BLOCKCHAIN_HEIGHT" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.block_height | number }}
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.LATEST_BLOCK" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.letest_block_num }}
        <span class="">{{ latestblockdetail.letest_block_duration }}</span>
      </p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div" #minhgt>
      <p class="mb-2 desc">{{ "home.LATEST_BLOCK1" | translate }}</p>
      <div
        class=" text-left d-inline-block"
        title="Target / Total Block Difficulty"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >

        <!-- <p class="difficulty_datas">Cuckaroo : {{latestblockdetail.targetdifficultycuckaroo | number}} / {{latestblockdetail.TotalDifficultyCuckatoo | number}}</p> -->
        <div class="difficulty_datas">
          <span class="day60_txt">Cuckoo</span> 
          <div>
            <span>Target Difficulty:</span><span>{{ latestblockdetail.targetdifficultycuckatoo | number }}</span><br>
            <span>Total Difficulty</span><span>{{ latestblockdetail.TotalDifficultyCuckatoo | number }}</span>
          </div>
          
        </div>
        <div class="difficulty_datas">
            <span class="day60_txt">ProgPow </span> 
            <div>
              <span>Target Difficulty:</span><span>{{ latestblockdetail.targetdifficultyprogpow | number }}</span><br>
              <span>Total Difficulty</span><span>{{ latestblockdetail.TotalDifficultyProgpow | number }}</span>
            </div>
            
          </div>
          <div class="difficulty_datas">
             <span class="day60_txt"> RandomX </span>
              <div>
                <span>Target Difficulty:</span><span>{{ latestblockdetail.targetdifficultyrandomx | number }}</span><br>
                <span>Total Difficulty</span><span>{{ latestblockdetail.TotalDifficultyRandomx | number }}</span>
              </div>
              
            </div>
        <!-- <p class="difficulty_datas">
          ProgPow : {{ latestblockdetail.targetdifficultyprogpow | number }} /
          {{ latestblockdetail.TotalDifficultyProgpow | number }}
        </p>
        <p class="difficulty_datas">
          RandomX : {{ latestblockdetail.targetdifficultyrandomx | number }} /
          {{ latestblockdetail.TotalDifficultyRandomx | number }}
        </p> -->
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.COIN_IN" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.coin_existence | number }}
        <span class="">Epic</span>
      </p>
    </div>
  </div>
</div>
