<!-- <div class="row">
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">74,913</p>
      <p class="mb-0 desc">Blockchain Height</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 <span class="">seconds ago</span></p>
      <p class="mb-0 desc">Latest Block</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">99 / 43</p>
      <p class="mb-0 desc">Latest Block Difficulty</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="text-center detail_div">
      <p class="count mb-0">374,3913 <span class="">Epic</span></p>
      <p class="mb-0 desc">Coin in Existence</p>
    </div>
  </div>
</div> -->
<div class="row">


  <div class="col-sm-7 col-md-8 mb-2">
    <div class="position-relative">
      <epic-explorer-search></epic-explorer-search>
    </div>
    <div *ngIf="halvingtext" class="text-center" display=none>
      <!-- <p class="mb-0 mt-3 mb-2 havlingtext">Next <span class="big-epic">EPIC</span> halving in <span><span class="big-epic">{{this.halvingtext}}</span><br><span class="havlingtime">&nbsp;&nbsp; DAYS &nbsp;&nbsp; HOURS &nbsp;MINUTES</span></span></p>  -->
    </div>
  </div>
  <div class="col-sm-5  col-md-4">
    <div class="blockchain_firstrow alignltp">

      <div class="detailsloading" *ngIf="!epicData">
        <epic-explorer-loading></epic-explorer-loading>
      </div>
     
          <div class="epbbox" *ngIf="epicData">
          <div class="epicbrandlogo">
            <a href="https://x.vite.net/trade?symbol=EPIC-002_USDT-000" target="_blank">
              <img src="assets/img/epic-cash-logo.png" class="exchangelogo" alt=""/>
            </a>
          </div>
        <p class="block_value_v2 epicprice ml-3">
          <span class="epicpricetxt">1 <span class="small">Epic</span> = </span><span class="small">$</span>{{epicData.lastPrice}}
        </p>
     
      </div>
    </div>

    <!-- <div class="col-sm-4" *ngIf="epicData.highPrice">
      <p class="block_heading">{{ "High" | translate }}</p>
        <p
          class="block_value_v2 hidezero"
        >
          <ng2-odometer [number]="epicData.highPrice" [config]="{ format:'(,ddd).dd' }"></ng2-odometer>
        </p>
    </div>
    <div class="col-sm-4" *ngIf="epicData.lowPrice">
      <p class="block_heading">{{ "Low" | translate }}</p>
        <p
          class="block_value_v2 hidezero"
        >
          <ng2-odometer [number]="epicData.lowPrice" [config]="{ format:'(,ddd).dd' }"></ng2-odometer>
        </p>
    </div> -->
  </div>

  <div class="col-md-12">
    <div class="blockchain_firstrow">
      <div class="detailsloading" *ngIf="!latestblockdetail.block_height">
        <epic-explorer-loading></epic-explorer-loading>
      </div>
      <div class="row" *ngIf="latestblockdetail.block_height">
        <div class="col-md-6">
          <div class="row">
            <div class="col-6 col-md-7 drawline">
              <!-- <p class="block_heading">{{ "home.BLOCKCHAIN_HEIGHT" | translate }}</p> -->
              <p class="block_heading">{{ "home.BLOCKCHAIN_HEIGHT" | translate }}</p>
              <p class="block_value lgtxtwid" [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''">
                <ng2-odometer [number]="Block_height" [config]="{ }"></ng2-odometer>
                <!-- {{ latestblockdetail.block_height | number }} -->
              </p>
            </div>
            <!-- <div class="col-md-3">
            <p class="block_heading">{{ "home.BLOCKCHAIN_SIZE" | translate }}</p>
            <p
              class="block_value_v2"
              [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
            >
              {{ latestblockdetail.diskSpace  }}
            </p>
          </div> -->
            <div class="col-6 col-md-5 drawline">
              <p class="block_heading">Blockchain Size</p>
              <p class="block_value_v2 mt-1 medtxtwid" [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''">
                <ng2-odometer [number]="Block_size" [config]="{ format:'(,ddd).dd' }"></ng2-odometer>G
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-6 drawline" #odometer>
              <p class="block_heading">{{ "home.LATEST_BLOCK_AGE" | translate }}</p>
              <p class="block_value_v2 medtxtwid latestblockarea" [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''">
                <ng2-odometer [number]="Block_latest" [config]="{ }"></ng2-odometer>
                <!-- {{ latestblockdetail.letest_block_num  | number }}  -->
              </p>
              <span class="smalltext">{{ latestblockdetail.letest_block_duration }}</span>
            </div>
            <div class="col-6">
              <p class="block_heading">{{ "home.CIRCULATING_SUPPLY" | translate }}</p>
              <p class="block_value_v2 medtxtwid" [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''">
                <ng2-odometer [number]="Block_supply" [config]="{ }"></ng2-odometer>
                <span class="smalltext pl-2 epicipadresize">Epic</span>
                <!-- {{ latestblockdetail.coin_existence | number }} -->
              </p>
              <span class="smalltext">Max Supply <span style="color:#bf9b32;"> 21,000,000</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 targetandhashrate">
    <div class="blockchain_firstrow">
      <div class="detailsloading" *ngIf="!latestblockdetail.targetdifficultycuckatoo || !ShowSecondBlock">
        <epic-explorer-loading></epic-explorer-loading>
      </div>
      <div class="row" *ngIf="latestblockdetail.targetdifficultycuckatoo && ShowSecondBlock">
        <div class="col-md-6 text-mobile-center">
          <p class="block_heading">{{ "home.CURRENT_TARGET_DIFF" | translate }}</p>
          <div class="row">
            <div class="col-sm-4 col-md-3 drawline">
              <p class="subheading">
                Cuckoo
              </p>
              <p class="subvalue smatxtwid">               
                <ng2-odometer [number]="CTD_1" [config]="{ }"></ng2-odometer>
                <!-- {{ latestblockdetail.targetdifficultycuckatoo | number }} -->
              </p>
            </div>
            <div class="col-sm-4 col-md-5 drawline">
              <p class="subheading">
                ProgPoW
              </p>
              <epic-explorer-subloading *ngIf="!CTD_2"></epic-explorer-subloading>
              <p class="subvalue smatxtwid" *ngIf="CTD_2">
                <ng2-odometer [number]="CTD_2" [config]="{ }"></ng2-odometer>
                <!-- {{ latestblockdetail.targetdifficultyprogpow | number }} -->
              </p>
            </div>
            <div class="col-sm-4 col-md-4 drawline">
              <p class="subheading">
                RandomX
              </p>
              <epic-explorer-subloading *ngIf="!CTD_3"></epic-explorer-subloading>
              <p class="subvalue smatxtwid" *ngIf="CTD_3">
                <ng2-odometer [number]="CTD_3" [config]="{ }"></ng2-odometer>
                <!-- {{ latestblockdetail.targetdifficultyrandomx | number }} -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-mobile-center">
          <p class="block_heading">{{ "home.HASHRATE" | translate }}</p>
          <div class="row">
            <div class="col-sm-4 col-md-3 drawline">
              <p class="subheading">
                Cuckoo
              </p>
              <p class="subvalue smatxtwid">
                <ng2-odometer [number]="NW_1" [config]="{ }"></ng2-odometer> Gps
                <!-- {{ latestblockdetail.cuckoohashrate | number  }} Gps -->
              </p>
            </div>
            <div class="col-sm-4 col-md-5 drawline">
              <p class="subheading">
                ProgPoW
              </p>
              <epic-explorer-subloading *ngIf="!NW_2"></epic-explorer-subloading>
              <p class="subvalue smatxtwid" *ngIf="NW_2">
                <ng2-odometer [number]="NW_2" [config]="{ }"></ng2-odometer> Hps
                <!-- {{ latestblockdetail.progpowhashrate | number  }} Hps -->
              </p>
            </div>
            <div class="col-sm-4 col-md-4">
              <p class="subheading">
                RandomX
              </p>
              <epic-explorer-subloading *ngIf="!NW_3"></epic-explorer-subloading>
              <p class="subvalue smatxtwid" *ngIf="NW_3">
                <ng2-odometer [number]="NW_3" [config]="{ }"></ng2-odometer> Hps
                <!-- {{ latestblockdetail.randomxhashrate | number }} Hps -->
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="row" *ngIf="latestblockdetail">
  <div class="col-md-4 col-xl-2">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.BLOCKCHAIN_HEIGHT" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.block_height | number }}
        <span class="">Blocks</span>
      </p>
      <p class="mb-0 desc">{{ "home.BLOCKCHAIN_SIZE" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.diskSpace  }}
       
      </p>
    </div>
  </div>
  <div class="col-md-4 col-xl-2">
    <div
      class="text-center detail_div"
    >
      <p class="mb-0 desc">{{ "home.LATEST_BLOCK_AGE" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        {{ latestblockdetail.letest_block_num  | number }} <span class="">{{ latestblockdetail.letest_block_duration }}</span>
      </p>
     
    </div>
  </div>
  <div class="col-md-4  col-xl-2">
      <div
        class="text-center detail_div"
      >
        <p class="mb-0 desc">{{ "home.CIRCULATING_SUPPLY" | translate }}</p>
        <p
          class="count mb-0"
          [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
        >
          {{ latestblockdetail.coin_existence | number }}
          <span class="">Epic</span>
        </p>
      </div>
    </div>

  <div class="col-md-6 mt-md-3 mt-xl-0 col-xl-3">
    <div class="text-center detail_div" #minhgt>
      <p class="mb-2 desc">{{ "home.CURRENT_TARGET_DIFF" | translate }}</p>
      <div
        class=" text-left mx-auto d-inline-block"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
        <div class="difficulty_datas">
          <span class="day60_txt">Cuckoo &nbsp;&nbsp;&nbsp;&nbsp;: </span>
            <span> {{ latestblockdetail.targetdifficultycuckatoo | number }}</span>
        </div>
        <div class="difficulty_datas">
            <span class="day60_txt">ProgPoW &nbsp;&nbsp;: </span>
              <span class="diff_span" style="width:110px;" title="{{ latestblockdetail.targetdifficultyprogpow | number }}"> {{ latestblockdetail.targetdifficultyprogpow | number }}</span>
          </div>
          <div class="difficulty_datas">
             <span class="day60_txt"> RandomX &nbsp;: </span>
                <span > {{ latestblockdetail.targetdifficultyrandomx | number }}</span>
            </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 mt-md-3 mt-xl-0 col-xl-3">
    <div
      class="text-center detail_div"
    >
      <p class="mb-2 desc">{{ "home.HASHRATE" | translate }}</p>
      <p
        class="count mb-0"
        [ngClass]="latestblockdetail.blink == true ? 'item-highlight' : ''"
      >
    </p>
    <div class="text-left mx-auto d-inline-block">
      <div class="difficulty_datas">
        <span class="day60_txt">Cuckoo &nbsp;&nbsp;&nbsp;: </span>
          <span>         {{ latestblockdetail.cuckoohashrate | number  }} Gps         </span>
      </div>

      <div class="difficulty_datas">
        <span class="day60_txt">ProgPoW &nbsp;: </span>
          <span> {{ latestblockdetail.progpowhashrate | number  }} Hps</span>
      </div>

      <div class="difficulty_datas">
        <span class="day60_txt">RandomX : </span>
          <span> 
            {{ latestblockdetail.randomxhashrate | number }} Hps
          </span>
      </div>
      </div>


     
    </div>
  </div>


</div> -->