<div class="view_content py-4">
    <div *ngIf="hasdata" class="container">
            <h3>&nbsp; Output Commit <span style="font-size:15px">08cbff0ef3aabd991dc817c388459ad1935fc88ce293e11544bbd24d20830b8983</span></h3>

            <h5>Created at block <a href="/block/340776"> 340776</a> 
                <span style="font-size:15px">(Confirmed count: 4)</span>
            </h5>

            <table class="table table-horizontal-bordered table-hover">
                    <tbody><tr>
                      <td>Created At </td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                    <tr>
                      <td>Output Type</td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                    <tr>
                      <td>Proof</td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                    <tr>
                      <td>Proof hash</td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                    <tr>
                      <td>Merkle Proof</td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                    <tr>
                      <td>MMR Index</td>
                      <td>{{ hashdata.BlockchainBlockFetchQuery.BlockReward }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-success" role="alert">
                    The output commit was not spent.
            </div>
    
    </div>
</div>
