<div class="body_bg not_found h-100">
    <div class="container h-100">
        <div class=" justify-content-center align-items-center h-100 d-flex">
          <div class="text-center">
            
            <h1 class="w-100 txt_primary not_txt">4<img src="assets/img/404.png" height="100">4 </h1>
            <h1>{{'home.NOT_FOUND' | translate}}</h1>
            <p class="w-100">{{'home.NOT_FOUND1' | translate}}</p>
            <button routerLink="/" class="btn btn_primary">{{'home.NOT_FOUND2' | translate}}</button>
          </div>
        </div>
        </div>
</div>