<div class="view_content detail_graph py-4">
  <div class="container">
    <!-- <div *ngIf="this.title=='Total Difficulty'" class="row ">

      <div class="col-md-9">
        <div class="box_shadow_large bg-white p-3">
          <div class="overflow-hidden">
            <div class="blocks detail_graph">

              <h2 class="chart_heading text-uppercase d-inline-block">Total Difficulty</h2>
              <epic-explorer-plotly *ngIf="linearTotalGraphData.data" [data]="linearTotalGraphData.data"
                [layout]="linearTotalGraphData.layout">
              </epic-explorer-plotly>
              <div class="day_filter diff_margin">
                <a href="JavaScript:void(0);" (click)="
          totalDifficultyreq('', '', '1 day',''); selectedTarget = 6; TdifficultyRange = '1 day'
        " id="6" #itemtarget6 [ngClass]="{ active: selectedTarget == itemtarget6.id, txt_primary: true }">1 Day</a>
                <a href="JavaScript:void(0);" (click)="
            totalDifficultyreq('', '', '1 week',''); selectedTarget = 1; TdifficultyRange = '1 week'
          " id="1" #itemtarget1 [ngClass]="{ active: selectedTarget == itemtarget1.id, txt_primary: true }">1
                  {{'home.WEEK' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            totalDifficultyreq('', '', '15 days',''); selectedTarget = 2; TdifficultyRange = '15 days'
          " id="2" #itemtarget2 [ngClass]="{ active: selectedTarget == itemtarget2.id, day15_txt: true }">15
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            totalDifficultyreq('', '', '30 days',''); selectedTarget = 3; TdifficultyRange = '30 days'
          " id="3" #itemtarget3 [ngClass]="{ active: selectedTarget == itemtarget3.id, day30_txt: true }">30
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            totalDifficultyreq('', '', '60 days',''); selectedTarget = 4; TdifficultyRange = '60 days'
          " id="4" #itemtarget4 [ngClass]="{ active: selectedTarget == itemtarget4.id, day60_txt: true }">60
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            totalDifficultyreq('', '', '3 months',''); selectedTarget = 5; TdifficultyRange = '3 months'
          " id="5" #itemtarget5 [ngClass]="{ active: selectedTarget == itemtarget5.id, day3m_txt: true }">3
                  {{'home.MONTHS' | translate}}</a>
              </div>
              <div class="day_filter">
                <a href="JavaScript:void(0);" (click)="
          totalDifficultyreq('', '', TdifficultyRange,'cuckatoo'); selectedTarget12 = 1
        " id="1" #itemtarget121
                  [ngClass]="{ active: selectedTarget12 == itemtarget121.id, txt_primary: true }">Cuckoo</a>
                <a href="JavaScript:void(0);" (click)="
        totalDifficultyreq('', '', TdifficultyRange,'progpow'); selectedTarget12 = 2
        " id="2" #itemtarget122
                  [ngClass]="{ active: selectedTarget12 == itemtarget122.id, txt_primary: true }">ProgPow</a>
                <a href="JavaScript:void(0);" (click)="
        totalDifficultyreq('', '', TdifficultyRange,'randomx'); selectedTarget12 = 3
        " id="3" #itemtarget123
                  [ngClass]="{ active: selectedTarget12 == itemtarget123.id, txt_primary: true }">RandomX</a>
              </div>

            </div>

          </div>
        </div>
      </div>

    </div> -->
    <div class="row">

      <div class="col-md-9">
        <div class="box_shadow_large bg-white p-3" id ="{{this.id}}" >
          <div class="overflow-hidden">
            <div class="blocks detail_graph">

              <h2 class="chart_heading text-uppercase d-inline-block">
                {{chartType | translate}}</h2>
                <!-- <div class="day_filter" *ngIf="this.title=='Target Difficulty'">
                    <a href="JavaScript:void(0);" (click)="
                    ChartFromView('', '', comp.difficultyRange,'all'); selectedItem12 = 4
                  " id="4" #item124 [ngClass]="{ active: selectedItem12 == item124.id, txt_primary: true }">All</a>
                    <a href="JavaScript:void(0);" (click)="
                ChartFromView('', '', comp.difficultyRange,'cuckatoo'); selectedItem12 = 1
              " id="1" #item121 [ngClass]="{ active: selectedItem12 == item121.id, txt_primary: true }">Cuckoo</a>
                    <a href="JavaScript:void(0);" (click)="
              ChartFromView('', '', comp.difficultyRange,'progpow'); selectedItem12 = 2
              " id="2" #item122 [ngClass]="{ active: selectedItem12 == item122.id, txt_primary: true }">ProgPow</a>
                    <a href="JavaScript:void(0);" (click)="
              ChartFromView('', '', comp.difficultyRange,'randomx'); selectedItem12 = 3
              " id="3" #item123 [ngClass]="{ active: selectedItem12 == item123.id, txt_primary: true }">RandomX</a>
                  </div>
                  <div class="day_filter" *ngIf="this.title=='Total Difficulty'">
                    <a href="JavaScript:void(0);" (click)="
                  ChartFromView('', '', comp.TdifficultyRange,'cuckatoo'); selectedItem12 = 4
                " id="4" #item124 [ngClass]="{ active: selectedItem12 == item124.id, txt_primary: true }">All</a>       <a href="JavaScript:void(0);" (click)="
                  ChartFromView('', '', comp.TdifficultyRange,'cuckatoo'); selectedItem12 = 1
                " id="1" #item121 [ngClass]="{ active: selectedItem12 == item121.id, txt_primary: true }">Cuckoo</a>
                      <a href="JavaScript:void(0);" (click)="
                ChartFromView('', '', comp.TdifficultyRange,'progpow'); selectedItem12 = 2
                " id="2" #item122 [ngClass]="{ active: selectedItem12 == item122.id, txt_primary: true }">ProgPow</a>
                      <a href="JavaScript:void(0);" (click)="
                ChartFromView('', '', comp.TdifficultyRange,'randomx'); selectedItem12 = 3
                " id="3" #item123 [ngClass]="{ active: selectedItem12 == item123.id, txt_primary: true }">RandomX</a>
                    </div> -->
              <epic-explorer-plotly *ngIf="hashdata.data" [data]="hashdata.data" [layout]="hashdata.layout">
              </epic-explorer-plotly>
              <div class="day_filter" *ngIf="this.title!='Transactions over time' &&  this.title!='Block Interval'">

                <a href="JavaScript:void(0);" *ngIf="this.title=='Total Difficulty' || this.title=='Target Difficulty' || this.title == 'Blocks'" (click)="
            ChartFromView('', '', '1 day', comp.Type); selectedItem = 6; comp.difficultyRange = '1 day';comp.TdifficultyRange = '1 day'
              " id="6" #item6 [ngClass]="{ active: selectedItem == item6.id, txt_primary: true }">1 day</a>
                <a href="JavaScript:void(0);" (click)="
            ChartFromView('', '', '1 week', comp.Type); selectedItem = 1; comp.difficultyRange = '1 week';comp.TdifficultyRange = '1 week'
              " id="1" #item1 [ngClass]="{ active: selectedItem == item1.id, txt_primary: true }">1
                  {{'home.WEEK' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            ChartFromView('', '', '15 days', comp.Type); selectedItem = 2; comp.difficultyRange = '15 days';comp.TdifficultyRange = '15 days'
              " id="2" #item2 [ngClass]="{ active: selectedItem == item2.id, day15_txt: true }">15
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            ChartFromView('', '', '30 days', comp.Type); selectedItem = 3; comp.difficultyRange = '30 days';comp.TdifficultyRange = '30 days'
              " id="3" #item3 [ngClass]="{ active: selectedItem == item3.id, day30_txt: true }">30
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            ChartFromView('', '', '60 days', comp.Type); selectedItem = 4; comp.difficultyRange = '30 days';comp.TdifficultyRange = '30 days'
              " id="4" #item4 [ngClass]="{ active: selectedItem == item4.id, day60_txt: true }">60
                  {{'home.DAYS' | translate}}</a>
                <a href="JavaScript:void(0);" (click)="
            ChartFromView('', '', '3 months', comp.Type); selectedItem = 5; comp.difficultyRange = '3 months';comp.TdifficultyRange = '3 months'
              " id="5" #item5 [ngClass]="{ active: selectedItem == item5.id, day3m_txt: true }">3
                  {{'home.MONTHS' | translate}}</a>
              </div>
             
              <div class="day_filter" *ngIf="this.title=='Transactions over time'">
                <a href="JavaScript:void(0);"
                  (click)="ChartFromView(GraphtDate, GraphtHour, GraphtInput,'Input'); selectedItem8 = 1" id="1" #item1
                  [ngClass]="{ active: selectedItem8 == item1.id, txt_primary: true }">{{'home.INPUT' | translate}}</a>
                <a href="JavaScript:void(0);"
                  (click)="ChartFromView(GraphtDate, GraphtHour, GraphtKernal,'Kernal'); selectedItem8 = 2" id="2"
                  #item2
                  [ngClass]="{ active: selectedItem8 == item2.id, day15_txt: true }">{{'home.KERNEL' | translate}}</a>
                <a href="JavaScript:void(0);"
                  (click)="ChartFromView(GraphtDate, GraphtHour, GraphtOutput,'Output'); selectedItem8 = 3" id="3"
                  #item3
                  [ngClass]="{ active: selectedItem8 == item3.id, day30_txt: true }">{{'home.OUTPUT' | translate}}</a>
              </div>


              <div class="day_filter" *ngIf="this.title=='Block Interval'">
                <a href="JavaScript:void(0);" (click)="
                ChartFromView('today'); selectedInteverval = 1
                    " id="1" #intevalitem1 [ngClass]="{ active: selectedInteverval == intevalitem1.id, txt_primary: true }">Today</a>
              <a href="JavaScript:void(0);" (click)="
              ChartFromView('yesterday'); selectedInteverval = 2
                  " id="2" #intevalitem2 [ngClass]="{ active: selectedInteverval == intevalitem2.id, txt_primary: true }">Yesterday</a>
                  <a *ngIf ="showcurrentIntervalDatetimestamp >= 1567468800000" href="JavaScript:void(0);" (click)="ChartFromView('previous'); "><</a>
                  <span>{{showcurrentIntervalDate}} </span>
                  <a  *ngIf ="showcurrentIntervalDatetimestamp < todaydate" href="JavaScript:void(0);" (click)="ChartFromView('next'); ">></a>
                 
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div *ngIf="TimeArr" class="box_shadow_large detail_div p-3 mb-4">
          <!-- <h1 class="test_msg align-middle mr-3 pl-3">{{'home.HEADER_TEXT' | translate}}</h1> -->
          <!-- <h1 class="test_msg align-middle mb-0 pl-3">{{'home.COUNTDOWN' | translate}}
                  <ul class="list-unstyled mt-2  mb-0 txt_primary">
                    <li class="d-inline-block"><span id="days">{{TimeArr.d}}d:</span></li>
                    <li class="d-inline-block"><span id="hours">{{TimeArr.h}}h:</span></li>
                    <li class="d-inline-block"><span id="minutes">{{TimeArr.m}}m:</span></li>
                    <li class="d-inline-block"><span id="seconds">{{TimeArr.s}}s</span></li>
                    </ul>
              </h1> -->
        </div>
        <div class="box_shadow_large bg-white p-3">
          <h2 class="chart_heading mb-2 d-inline-block">{{'home.EXPLORE' | translate}}</h2>
          <ul class="list-unstyled pl-3">
            <li class="mb-1" *ngIf="this.title!='Target Difficulty'"><a
              routerLink="/chart/target-difficulty">{{'target-difficulty' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Transactions over time'"><a
                routerLink="/chart/transactions-over-time">{{'home.TRANSACTIONS_BY_TIME' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Blocks'"><a
                routerLink="/chart/blocks">{{'home.BLOCKS' | translate}}</a></li>
                <li class="mb-1" *ngIf="this.title!='Block Interval'"><a
                  routerLink="/chart/block-interval">{{'home.BLOCKSINTERVAL' | translate}}</a></li>    
            <li class="mb-1" *ngIf="this.title!='Blocks Mined'"><a
                routerLink="/chart/blocks-mined">{{'home.BLOCKS_MINED' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Transaction Fees'"><a
                routerLink="/chart/transaction-fees">{{'home.TRANSACTION_FEES' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Supply Growth'"><a
                routerLink="/chart/supply-growth">{{'home.SUPPLY_GROWTH' | translate}}</a></li>
            <!-- <li class="mb-1" *ngIf="this.title!='HashRate Growth Chart'"><a routerLink="/chart/hashrate-growth-chart">{{'home.HASHRATE_GROWTH_CHART' | translate}}</a></li> -->
            <li class="mb-1" *ngIf="this.title!='Avg Block Interval'"><a
                routerLink="/chart/avg-block-interval">{{'home.BLOCK_INTERVAL' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Transactions by Date'"><a
                routerLink="/chart/transactions-by-date">{{'home.TRANSACTIONS_VS_DATE' | translate}}</a></li>
            <li class="mb-1" *ngIf="this.title!='Stackbar Chart'"><a routerLink="/chart/blocks-by-algorithm">Blocks by Algorithm</a>
            </li>
              <li class="mb-1" *ngIf="this.title!='Total Difficulty'"><a
                routerLink="/chart/total-difficulty">{{'total-difficulty' | translate}}</a></li>
            <!-- <li class="mb-1" *ngIf="this.title!='Pie Chart'"><a routerLink="/chart/piechart">Pie Chart</a></li> -->
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>