@font-face {
  font-family: 'Bahnschrift';
  src: url('/assets/fonts/Bahnschrift.eot');
  src: url('/assets/fonts/Bahnschrift.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Bahnschrift.woff2') format('woff2'),
    url('/assets/fonts/Bahnschrift.woff') format('woff'),
    url('/assets/fonts/Bahnschrift.ttf') format('truetype'),
    url('/assets/fonts/Bahnschrift.svg#Bahnschrift') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body{height: 100%;}
body {
  font-family: 'Bahnschrift';
  color: #686868;
  letter-spacing: 0.5px;
  background: url(/assets/img/body_bg1.png);
}
.search {
  max-width: 75%;
  margin: 0 auto;
}
.text_underline{text-decoration: underline;color: #BF9B30}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
.langbut option:disabled{background-color: #f7f7f9; color: rgba(0,0,0,.2) }

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.loaders {
  color: #BF9B30;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.nav-item.dropdown.bg-white{background-color: #dadada !important;}
/************************************************texts*****************************************/
.txt_primary {
  color: #BF9B30;
}
.txt_secondary {
  color: #333333;
}
.gray_txt {
  color: #555555;
}
.day15_txt {
  color: #686868;
}
.day30_txt {
  color: #686868;
}
.day60_txt {
  color: #686868;
}
.day3m_txt {
  color: #686868;
}
.btn:focus {
  box-shadow: none;
}
/*******************************************Button**********************************************/
.theme_switch {
  background: #dadada;
  border: none;
  margin-left: 14px;
  border-radius: 0px;
}
.light_theme_display {
  display: block;
}
.dark_theme_display {
  display: none;
}
/************************************************Home Page*****************************************/
.logo_txt {
  color: #001220;
  font-size: 50px;
}
.flag {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
  /* margin-right: 5px; */
}
.headerbg {
  background: url(/assets/img/body_bg.png);
  overflow: hidden;
  background-position-y: -22%;}
.body_bg {
  background: url(/assets/img/body_bg.png);
  background-position-y: -22%;
}
.search_input {
  border-radius: 25px;
  padding: 15px;
  padding-right: 45px;
  height: 45px;
  border: none;
  background-color: #f3f4f2;
}
.bg_gray{background-color: #dadada ;}
.search_btn {
  position: absolute;
  top: 4px;
  right: 10px;
  color: #BF9B30;
}
.blocks {
  background: #f3f4f2;
  padding: 10px;
}
.box_shadow {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 1px solid #dadada;
}
.box_shadow:hover{box-shadow: 0 1px 10px rgb(200, 158, 97);}
.filter_shadow {
  filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.1));
}
.bg-white{background-color: #f3f4f2 !important}
.chart_heading {
  font-size: 23px;
  font-weight: 400;
  color: #686868;
  padding: 5px;
  vertical-align: middle;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
.txn_count {
  background: #BF9B30;
  vertical-align: middle;
  border-radius: 25px;
  font-size: 13px;
  color: #f3f4f2;
  padding: 4px 18px 2px;
  /* display: inline-block; */
  margin-left: 5px;
  position: relative;
  z-index: 1;
  float: right;
  margin-top: 5px;
  border: 1px solid #BF9B30;
  transition: all 0.3s linear;
}
.blocks:hover .txn_count {
  background: #f3f4f2;
  color: #BF9B30;
  transition: all 0.3s linear;
}
.day_filter {
  background-color: #dadada;
  font-size: 14px;
  padding: 15px;
}
.day_filter a {
  margin: 0 5px;
  text-decoration: none !important;
  display: inline-block;
  color: #686868;
}
.day_filter a.active {
  border: 1px solid #BF9B30;
  /* background: #BF9B30; */
  padding: 0 5px;
  /* color: #f3f4f2 */
  color: #BF9B30
}
.difficulty_filter.day_filter a.active{border-color: #0056b3; color: #0056b3;}
.explore_all {
  background: #f3f4f2;
  padding: 15px;
  font-size: 13px;
  color: #BF9B30;
  border-top: 1px solid #BF9B30;
}
.explore_all a {
  color: #BF9B30;
}
.explore_all a:hover, .explore_all a:focus {
  color: #777777;
}
.ip_filter {
  padding: 12px 6px;
}
.ip_filter a {
  margin-right: 10px;
  color: #000000;
  font-size: 13px;
}
.ip_filter a.active {
  color: #BF9B30;
}
.btn_primary {
  background: #BF9B30;
  border-radius: 25px;
  color: #f3f4f2 !important;
  text-transform: uppercase;
  padding: 10px 20px;
}
.detail_div {
  background-color: #f3f4f2;
  border: 1px solid #f3f4f2;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  padding: 10px ;
  transition: 0.3s linear all;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail_div .count {
  font-size: 25px;
  color: #BF9B30;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail_div .desc {
  font-size: 18px;
}
.detail_div .count span {
  font-size: 15px;
  color: #002f5b;
}
.detail_div:hover {
  background-color: #E1DBD1;
  border-color: #E1DBD1;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s linear all;
}
.latest_table {
  background-color: #f3f4f2;
  border: 1px solid rgb(220, 228, 245);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 15px;
  border-bottom: none;
}
.latest_blocks .explore_all {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgb(220, 228, 245);
  border-top: none;
}
.table th {
  border-top: none;
  color: #555555;
  white-space: nowrap;
}
.table td {
  color: #111111;
  white-space: nowrap;
}
.hash {
  height: 12px;
  width: 5px;
  display: inline-block;
}
.table thead th {
  border-width: 1px;
}
.item_select select {
  appearance: none;
  -moz-appearance: none;
  background-color: #f3f4f2;
  -webkit-appearance: none;
  border: 1px solid #dee2e6;
  width: 47px;
  padding-left: 5px;
}
.item_select::after {
  position: absolute;
  content: '\f107';
  font-family: FontAwesome;
  right: 5px;
  top: 1px;
}
.chart_show {
  min-height: 268px;
}
.crisp,
.xgrid,
.zerolinelayer path {
  stroke: #a6a6a6 !important;
}
.text_break{white-space: normal !important; word-break: break-all;}
/************************************************Footer*****************************************/
.footer_div {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 14px;
}
.ftr_services a {
  padding: 0 7px;
  color: #000000;
}
.ftr_dropdown {
  background-color: #dadada;
  padding: 5px;
}
.ftr_dropdown a {
  color: #686868;
}
.footer_div .theme_switch {
  background: #dadada;
}
.privacy_txt {
  font-size: 12px;
}
.ftr_links {
  padding-left: 67px;
}
.theme_switch{padding-top: 11px; padding-bottom: 11px;}
/*******************************************View Page**************************************************/
.view_page_header{background: #f5f5f5;box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);}
.view_content{background-color: #eeeeee;min-height: 800px;}
.mble_view_hdr{display: inline-block;}
.box_shadow_large{box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);}
.box_shadow_large a{color: #BF9B30;}
.view_txt{color: #acacac;font-size: 17px;}
.block_rotate {
  animation: rotation 2s infinite linear;
  -webkit-animation: rotation 2s infinite linear;
  -moz-animation: rotation 2s infinite linear;
  -o-animation: rotation 2s infinite linear;
  -ms-animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
@-moz-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
@-ms-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
.link_to_detail{cursor: pointer;color: #BF9B30;}
.link_to_detail:hover{color: #BF9B30;text-decoration: underline;}
.mobile_table, .peer_mobile_table{border-bottom: 1px solid #686868;position: relative;}
.mobile_table .tble_col{padding: 0;}
.mobile_table:nth-child(even), .peer_mobile_table:nth-child(even) {
  background: #dadada;
}
.expnd_blck{display: none;}
.block_div h5{color: #555;font-size: 14px;}
.blck_value{font-size: 13px;}
.tab_hdng{
  display: block;
  position: relative;
}
.tab_hdng:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
a[aria-expanded="true"] > .tab_hdng:after {
  content: "\f077"; /* fa-chevron-up */
}
.tab_hdng{color: #333333;}
.view_content table{border: 1px solid #dee2e6; border-top: none;}
.word_break{word-break: break-all;white-space: normal !important;}
.view_content .mobile_table{text-align: left; min-width: unset;}
.tab_hdng{color: #333333;}
.view_content table{border: 1px solid #dee2e6; border-top: none;}
.word_break{word-break: break-all;white-space: normal !important;}
.view_content .mobile_table{text-align: left; min-width: unset;}
.alt_color:nth-child(odd){background-color: #f9f9f7}
.zibra_grey{background: #dadada;}
.zibra_white{background: #f3f4f2;}
.test_msg{font-size: 16px;}
.loader {
  display: flex;
  height: 100vh;
  text-align: center;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer{
  min-width: 140px;
margin-right: 10px;
}
.langbut{
  border:none !important;
  color:#686868;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #dadada;
}
.langbut.ftr_lang{background: #dadada;}
.arrow_drpdwn{
  border: solid rgba(0,0,0,.5);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  vertical-align: middle;
  margin-top: -4px;
}
.langbut:focus{outline: none;}
.detail_div .difficulty_datas{font-size: 14px !important; color: #BF9B30; margin-bottom: 0px;}
.net_dropdwn{
 position: absolute;
 top: 20px;
 right: 8px;
}

.peers_diff .blck_value{word-wrap: break-word;}
.main-svg:first-child{background: rgb(243, 244, 242) none repeat scroll 0% 0% !important;}
.bg{fill: rgb(243, 244, 242) !important;}
/**********************************************Dark Theme CSS********************************/
body.dark_theme {
  background: url(/assets/img/dark_bg.png);
  background-color: #222223;
  color: #f3f4f2;
}
.dark_theme .light_theme_display {
  display: none;
}
.dark_theme .dark_theme_display {
  display: block; 
}
.dark_theme .headerbg {
  background: url(/assets/img/dark_bg1.png);
}
.dark_theme .body_bg {
  background: url(/assets/img/dark_bg1.png);
  /* background-position-y: -22%; */
}
.dark_theme .logo_txt,
.dark_theme .ip_filter a {
  color: #f3f4f2;
}
.dark_theme .navbar-light .navbar-brand:focus, .dark_theme .navbar-light .navbar-brand:hover{color: #f3f4f2;}
.dark_theme .search_input {
  background-color: #252525;
}
.dark_theme .box_shadow{border: 1px solid #4c4c4c}
.dark_theme .blocks,
.dark_theme .explore_all {
  background-color: #222223;
}
.dark_theme .day_filter,
.dark_theme .detail_div {
  background-color: #252525;
  border-color: #222223;
}
.dark_theme .detail_div .count span {
  color: #a6a6a6;
}
.dark_theme .detail_div .desc {
  color: #f3f4f2;
}
.dark_theme .day_filter a,
.dark_theme .table th {
  color: #a6a6a6;
}
.dark_theme .table td {
  color: #f3f4f2;
}
.dark_theme .day_filter a.active {
  /* background-color: #BF9B30; */
  border-color: #BF9B30;
  /* color: #f3f4f2; */
  color: #BF9B30;
}
.dark_theme .chart_heading {
  color: #f3f4f2;
}
.dark_theme .latest_table {
  background-color: #222223;
  border-color: #222223;
}
.dark_theme .latest_blocks .explore_all {
  background-color: #252525;
  border-color: #1c2437;
  color: #a6a6a6;
}
.dark_theme .latest_blocks .explore_all a {
  color: #a6a6a6;
}
.dark_theme .table td,
.dark_theme .table th,
.dark_theme .table thead th {
  border-color: #384566;
}
.dark_theme .footer_div .chart_heading .txt_secondary {
  color: #f3f4f2 !important;
  color: #BF9B30;
}
.dark_theme .blck_value{color: #a6a6a6;}
.dark_theme .block_div h5{color: #BF9B30;}
.dark_theme .ftr_services a,
.dark_theme .ftr_services {
  color: #f3f4f2;
}
.dark_theme .ftr_services .gray_txt {
  color: #3b4e7c;
}
.dark_theme .dropdown .bg-white,
.dark_theme .dropdown-menu,
.dark_theme .footer_div .theme_switch,
.dark_theme .ftr_dropdown,
.dark_theme .langbut.ftr_lang,
.dark_theme .bg-white {
  background-color: #222223 !important;
  color: #f3f4f2 !important;
}
.dark_theme .news_desc .bg-white{ background-color: #222223 !important;}
.dark_theme footer.bg-white{background-color: transparent !important}
.dark_theme .nav-item.dropdown .bg-white, .dark_theme .nav-item.dropdown, .dark_theme .langbut, .dark_theme .theme_switch{background-color: #252525 !important}
.dark_theme .langbut{color: #f3f4f2 !important;}
.dark_theme .arrow_drpdwn{border-color: #f3f4f2 !important;}
.dark_theme .mobile_table:nth-child(2n), .dark_theme .peer_mobile_table:nth-child(2n){background: #252525;}
.dark_theme.langbut.ftr_lang{background: #222223;color: #f3f4f2;}
.dark_theme .dropdown a {
  color: #f3f4f2 !important;
}
.dark_theme td a.txt_secondary {
  color: #f3f4f2;
}
.dark_theme .main-svg:first-child {
  /* background: rgb(39, 49, 75) !important; */
  background: #222223 !important;
}
.dark_theme .g-ytitle text, .dark_theme .g-y2title text, .dark_theme .g-y3title text,
.dark_theme .xtick text, .dark_theme .x2tick text, .dark_theme .x3tick text,
.dark_theme .ytick text, .dark_theme .y2tick text, .dark_theme .y3tick text {
  fill: #e0e3e6 !important;
}
.dark_theme .crisp,
.dark_theme .xgrid,
.dark_theme .zerolinelayer path {
  stroke: #f3f4f2 !important;
}
.dark_theme .page-link {
  background-color: #222223;
  border-color: #a6a6a6;
}
.dark_theme .item_select select {
  border-color: #222223;
  background-color: #222223;
  color: #a6a6a6;
}
.dark_theme .footer_div{border-color: #a5a5a5}
.dark_theme .view_page_header {background: #222223;}
.dark_theme .view_content {background-color: #252525;}
.js-plotly-plot .plotly .modebar,
.zerolinelayer {
  display: none;
}
.dark_theme .zibra_grey{background: #252525;}
.dark_theme .zibra_white{background: #222223;}
.dark_theme .bg{fill: transparent !important;}
.dark_theme .not_found{color: #f3f4f2;}
.dark_theme .card, .dark_theme .card-header{background-color: #222223; border-color: #222223;}
.dark_theme .tab_hdng{color: #f3f4f2;}
.dark_theme .view_content table{border-color: #384566;}
.dark_theme .card-body{background-color: #1c2437;}
.diff_margin{margin-bottom: -10px !important; margin-top: -10px !important;}
.dark_theme .difficulty_datas .day60_txt{color: #a6a6a6;}
.dark_theme .legendtext{fill: rgb(255, 255, 255) !important;}
.dark_theme .background_loading{background: #384566;background-image: linear-gradient( to right, #384566 0%, #222223 20%, #384566 40%, #384566 100% );}
.dark_theme .langbut option:disabled { background-color: #384566; color: rgba(255,255,255,.2);}
@keyframes yellowfade {
  from {
    background: white;
  }
  to {
    background: transparent;
  }
}
.item-highlight {
  animation: yellowfade 5s ;
  -moz-animation: yellowfade 5s ;
  -webkit-animation: yellowfade 5s ;
  -o-animation: yellowfade 5s ;
}
.news_desc .bg-white{padding-top: 100px;}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 0px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #BF9B30;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.ngx-pagination .current{
  background: #c09c30 !important;
}
.ngx-pagination a, .ngx-pagination button{color: #a6a6a6 !important;}
.ngx-pagination a:hover, .ngx-pagination button:hover {
  background: #c09c30 !important;
  color: #fff !important;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}