 <footer>
    <div class="footer">
      <div class="container">
        <div class="footer_div py-4">
          <div class="row">
            <div class="col-md-2">
              <a href="#" class="chart_heading"><span class="txt_primary">COIN</span> <span
                  class="txt_secondary">DATA</span></a>
            </div>
            <div class="col-md-5 col-lg-6 ftr_services">
              <p><span class="gray_txt">Services:</span> <a href="#">Compare </a> | <a href="#">Charts New </a> | <a href="#">Feed </a> |
                <a href="#">Broadcast </a> | <a href="#">Markets </a> | <a href="#">Dumps </a> <span class="ftr_links"><a href="#">About </a> | <a href="#">Issues and Requests </a> |
                <a href="#">API </a> | <a href="#">Contacts </a> | <a href="#">Status </a></span></p>
            </div>
            <div class="col-md-2">
              <p class="txt_primary privacy_txt">We care about your Privacy! <a href="#">Read Our Privacy Policy</a></p>

            </div>
            <div class="col-md-3 col-lg-2">
              <div class="dropdown ftr_dropdown d-inline-block">

                <a class="dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  <span class="flag" style="background-image: url('assets/img/uk.jpg')"></span>English
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown1">
                  <a class="dropdown-item p-2" href="#"><span class="flag"
                      style="background-image: url('assets/img/uk.jpg')"></span>English</a>
                  <a class="dropdown-item p-2" href="#"><span class="flag"
                      style="background-image: url('assets/img/german.jpg')"></span>German</a>

                </div>

              </div>
              <button (click)="ChangeTheme()" class="theme_switch btn"><img src="assets/img/dark_theme.webp" height="20" class="light_theme_display"><img src="assets/img/light_theme.webp" height="19"  class="dark_theme_display"></button>
            </div>
          </div>
        </div>
      </div>
      </div>
  </footer>
