<nav class="navbar navbar-expand-lg navbar-light view_page_header">
  <div class="container">
    <a class="navbar-brand chart_heading d-sm-block d-none" routerLink="/"><span
        class="txt_primary">Epic </span><span>Explorer</span></a>


    <div class="ml-auto">
      <a class="chart_heading d-sm-none" routerLink="/"><span class="txt_primary">Epic</span><span>Explorer</span></a>
      <div class="position-relative d-none d-sm-inline-block">
        <input type="text" [(ngModel)]="search" #ctrl="ngModel" class="form-control search_input"
          (keyup.enter)="ctrl.value ? onSearch(ctrl.value) : ''" placeholder="Search by hash or height">
        <button class="btn search_btn" (click)="ctrl.value ? onSearch(ctrl.value) : ''">
          <!-- <a href="/blockdetail/{{ ctrl.value }}"  > -->
          <i class="fa fa-search"></i>
          <!-- </a> -->
        </button>
      </div>
      <div class="mble_view_hdr">
        <div class="nav-item dropdown bg-white d-inline-block ml-2 order-1 order-sm-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="flag" style="background-image: url('assets/img/uk.jpg')"></span>English
          </a>
          <select class="btn btn-outline-primary btn-rounded text-white py-2 ml-2" #langSelect (change)="translate.changeLang(langSelect.value)">
            <option *ngFor="let lang of translate.getLanguage()" [value]="lang" [selected]="lang == translate.getCurrentLang()">{{translate.langLabel[lang]}} ({{ lang }})</option>
          </select>
        </div>
        <button (click)="ChangeTheme()" class="theme_switch mr-2 btn order-2 order-sm-3"><img
            src="assets/img/dark_theme.png" height="20" class="light_theme_display"><img
            src="assets/img/light_theme.png" height="20" class="dark_theme_display"></button>
      </div>
    </div>
    <div class="position-relative d-block d-sm-none w-100 mt-3">
      <input type="text" [(ngModel)]="search" #ctrl="ngModel" class="form-control search_input"
        (keyup.enter)="ctrl.value ? onSearch(ctrl.value) : ''" placeholder="{{'home.SEARCH_TEXT' | translate}}">
      <button class="btn search_btn" (click)="ctrl.value ? onSearch(ctrl.value) : ''">
        <!-- <a href="/blockdetail/{{ ctrl.value }}"  > -->
        <i class="fa fa-search"></i>
        <!-- </a> -->
      </button>
    </div>
  </div>
</nav>
